/* define constants up here */
:root {
  --banner-bg-start: #fd5e6d;
  --banner-bg-end: #eb3362;
  /* --banner-bg-color: #f083b4; */
  --produce-gray: #cfcfcf;
  --search-gray: #f2f2f2;

  /* ranking border colors */
  --a-rank: #fb1168;
  --b-rank: #fc840c;
  --c-rank: #ffc407;
  --d-rank: #19b468;
  --f-rank: #a6a6a4;

}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Styles for banner */
#top-banner {
  background: radial-gradient(circle, var(--banner-bg-start), var(--banner-bg-end) 60%);
  /* background-color: var(--banner-bg-color); */
  padding: 25px;

  /* these will be unnecessary once we get the banner image */
  color: white;
  text-align: center;
}
#banner-image {
  width: 125px;
  margin-bottom: 15px;
}
#banner-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}
#banner-subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f3cdd3;
  font-size: 12px;
}

/* Styles for table */
#table {
  height: 60vh;
  min-height: 400px;
  width: 300px;
  box-shadow: 0 0 20px 1px var(--produce-gray);
  border-radius: 10px;
  border: 1px solid var(--produce-gray);
  margin: 10px;
  display: flex;
  flex-direction: column;
}
#table__filter-container {
  padding: 8px;
  border-bottom: 1px solid var(--produce-gray);
}
#table__filter-input {
  padding: 5px;
  padding-left: 25px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--search-gray);
  border: none;
  outline: 0;
  /* setting up search icon */
  background-image: url("assets/search.png");
  background-size: 10px 10px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
}
::placeholder {
  color: var(--produce-gray);
}

/* Styles for table entries */
#table__entry-container {
  overflow-y: scroll;
}
.table__entry {
  display: flex;
  align-items: flex-start;
}
.table__entry:hover {
  background-color: #f0f0f0;
}
.table__entry-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
  display: block;
  box-sizing: border-box;
  position: relative;
  /* background-image: url(assets/trainees/leegaeun.jpg);
  background-size: 60px; */
}
.table__entry-img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
.table__entry-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
}
/* Different entry borders */
.a-rank-border {
  border: 5px solid var(--a-rank);
}

.table__entry-text {
  margin: auto 5px auto 5px;
  /* margin: auto auto; */
}
.table__entry-text .name {
  font-size: 12px;
  color: black;
}
.table__entry .hangul {
  color: gray;
  font-size: 12px;
}
.table__entry .company {
  color: lightgray;
  font-size: 12px;
  display: block;
}

/* Ranking Styles */
#ranking__pyramid {
  /* min-width: 350px; */
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#ranking__title {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 25px;
}
.ranking__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ranking__entry-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.ranking__entry-img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
.ranking__entry-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
}
.ranking__row-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 8px;
  text-align: center;
  margin-bottom: 10px;
}
.ranking__entry .name {
  font-weight: 900;
}
.ranking__entry .company {
  color: gray; /* fix this color plis :( */
}

/* Generic Styles */
.padded-box {
  padding: 40px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}